
<!-- SLIDER -->
<div class="slider" width="100">
</div>
<br><br>


<!-- CATEGORIES -->
<div class="ali"><h1>CATEGORIES</h1></div>
<div class="container pt categories">
  <div class="row mt centered cate">
  </div>
</div>


<!-- MOST VIEWS -->
<div class="ali"><h1>MOST VIEWS</h1></div>
<div class="container pt views">
  <div class="row mt centered byviews">
  </div>
</div>

<hr>

<!-- APIs -->
<div class="ali"><h1>YOU MAY ALSO LIKE THESE BOOKS...</h1></div>
<div class="container pt apibooks">
  <div class="row mt centered books">
  </div>
</div>

<hr>

<!-- READ VIEWS -->
<div id="infoprod">
</div>