<br><br><br><div id="contenido">
    <form method="post" name="delete_allp" id="delete_allp">
        <table border='0'>
            <tr><td>IF YOU WANT TO DELETE ALL THE PRODUCTS FROM THE <br>TABLE, PLEASE TYPE "CONFIRM" <input type="text" name="del" id="del"><font color="red">
            <span id="e_del" class="error"></font></td></tr>
            <tr><td><input type="button" name="delete_all" value="Submit" onclick=validate_da()></td></tr>
        </table><br><br>
        <a href=index.php?page=controller_products&op=list>Back to page</a>
    </form>
</div><br><br>