<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stanley - Bootstrap Freelancer Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="view/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="view/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="view/assets/css/style.css" rel="stylesheet">

    <!-- JavaScript Libraries -->
    <script src="view/lib/jquery/jquery.min.js"></script>
    <script src="view/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="view/lib/php-mail-form/validate.js"></script>
    <script src="view/lib/easing/easing.min.js"></script>





    <!-- LLIBRERIES MEUES -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

    <!-- MODAL .DIALOG -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- LANG -->
    <script type="text/javascript" src="view/lang/translate.js"></script>


    <script src="module/details/model/details.js"></script>

    <!-- SEARCH -->
    <script type="text/javascript" src="view/inc/search/view/search.js"></script>


    <!-- PAGINATION -->
    <script src="view/assets/js/jquery.bootpag.min.js"></script>
    
</head>

<body>