<div class="toplogin">
  <div class="language">
    <form>
        <select name="idiom" id="idiom">
            <option value="en" data-tr="English" id="btn-en">English</option>
            <option value="es" data-tr="Spanish" id="btn-es">Spanish</option>
            <option value="va" data-tr="Valencian" id="btn-va">Valencian</option>
        </select>
    </form>
  </div>
  <div class="options">Hola <?php echo $_SESSION['user']?> &nbsp;&nbsp;&nbsp; <img id="imgprofile" src="<?php echo $_SESSION['avatar'] ?>"/> &nbsp;&nbsp;&nbsp; <a id="logout_html" data-tr="LOG OUT">LOG OUT</a></div>
</div>

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.php?page=contoller_homepage&op=list" data-tr="HOMEPAGE">HOMEPAGE</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a id="localdel" href="index.php?page=controller_shop&op=list" data-tr="SHOP">SHOP</a></li>
          <li><a href="index.php?page=controller_products&op=list" data-tr="PRODUCTS ADMIN">PRODUCTS ADMIN</a></li>
          <li><a href="index.php?page=controller_clients&op=list" data-tr="PRODUCTS CLIENT">PRODUCTS CLIENT</a></li>
          <li><a href="index.php?page=services" data-tr="SERVICES">SERVICES</a></li>
		      <li><a href="index.php?page=aboutus" data-tr="MEET US">MEET US</a></li>
          <li><a href="index.php?page=controller_contact&op=list" data-tr="CONTACT">CONTACT US</a></li>
        </ul>
      </div>    
    </div>
</div>
<div class="navbar navbar-inverse navbar-static-top cosarara">
  <form class="search">


    <div class="grr"> 
      <select id="province">
        <option value="">[Select province]</option>
      </select>


      <select id="shop">
        <option value="">[Select shop]</option>
      </select>
      </div>


    <div class="autocomplete"> 
       <input id="autocom" type="text"/>
       <div id="optionsauto"></div> 
    </div>
	
     
    <div class="elbuscar">
      <a id="searchlist">SEARCH</a>
    </div>   

  </form>
</div>