<!-- SHOP -->
<div id="mapcat"></div>


<div class="filters_shop">
</div>

<hr>


<div class="shopright">
    <div class="ali alishop"><h2>SHOP</h2></div>
    
    <center>
        <div class="pagination"></div>
    </center>

    <div class="container pt">
    <div class="row mt centered prods" id="inicioshop">
    </div>

    <center>
        <div class="pagination"></div>
    </center>
</div>

<hr>

<!-- APIs -->
<div class="ali aliapi"><h1>YOU MAY ALSO LIKE THESE BOOKS...</h1></div>
<div class="container pt apibooks">
  <div class="row mt centered books">
  </div>
</div>

<hr>
</div>